* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #7159c1;
  font-family: Roboto, Arial, sans-serif;
  overflow:hidden
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 30px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
  overflow: hidden;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 14px;
  color: #7159c1;
  border-radius: 5px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
  transition: 1s;
}

form .input-block input:hover,
form .input-block input:active {
  border: 1px solid #b3acc9;
  background: #f3f3f3;
}

form .input-block input:focus {
  border: 1px solid #6d52c4;
  background: #f3f3f3;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;

  cursor: pointer;
}

form .btn-login:hover {
  background-color: #937fd3;
  color: whitesmoke;
}

.squares li{
  width: 40px;
  height: 40px;

  background-color:rgba(255,255,255,0.15);

  display:block;
  position:absolute;
  bottom:-40px;
}

/* Usam as animações */

form {
  animation: aparecerSuavemente 1.4s;
}

form .btn-login {
  animation: AparecerDaEsquerdaParaDireita 1.4s 190ms backwards
}

form .input-block:first-of-type {
  animation: AparecerDaEsquerdaParaDireita 1.4s 600ms backwards;
}

form .input-block:last-of-type {
  animation: AparecerDaEsquerdaParaDireita 1.4s 400ms backwards;
}

form.form-hide {
  animation: cair 1.2s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
  /* Temos os steps,ease, e o cubic-bezier*/
}

form.validate-error{
  animation: vibrar 500ms linear 2, aparecerSuavemente paused;
}

.squares li {
  animation: subir 2s infinite alternate ;
}

/* KeyFrames */

@keyframes aparecerSuavemente {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes AparecerDaEsquerdaParaDireita {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cair {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes vibrar {
  0% ,100%{
    transform: rotate(0)
  }
  35%{
    transform: rotate(-15deg)
  }
  70%{
    transform: rotate(15deg)
  }
}

@keyframes subir{
  from{
    opacity: 0;
    transform: translateY(0)
  }
  50%{
    opacity: 1
  }
  to{
    opacity: 0;
    transform: translateY(-900px) rotate(960deg)
  }
}
